body{
    padding: 0;
    margin: 0;
}

#upload{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.error-message{
    display:none;
    color: red;
}

h1{
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
